// Logo
$color_1: rgb(8, 68, 58);   
$color_2: rgb(192, 78, 97);
$color_3: black;
$color_4: aliceblue;
$color_5: rgb(7, 7, 7);
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: white;
$background-color_2: rgba(245, 219, 219, 0.87);
$background-color_3: rgb(144, 238, 144, .2);

