fieldset {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: $background-color_2;
	margin-bottom: 100px;
	button {
		max-width: 50px;
	}
	
}