* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p {
	font-family: $font-family_1;
	font-size: medium;
	font-weight: 300;
}

.titulo-pagina {
	font-size: 1.5rem;
	font-style: italic;
	color: $color_2;
	margin-bottom: 20px;
}

